<html>
    <head>
        <title>View Order</title>
    </head>
    <style>
        .s1{
            background-color: rgb(166, 201, 237);
            align-items: center;
            margin-top: 100px;
            margin-left: 1px;
        }
        
    </style>
    <body >
        {% include "shopemeanubar.html" %}
        <table border="2" class="s1">
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Product Stock</th>
                <th>Coustomer Name</th>
                <th>Coustomer Adress</th>
                <th>Oder Date</th>
                <th>Order Quandity</th>
                <th>Delivery Adress</th>
                <th>Total Amount</th>
                <th>Accept Order</th>
                <th>Reject Order</th>
            </tr>
            {% for i in g %}
                <tr>
                    <td>{{i.order_id}}</td>
                    <td>{{i.product_id.product_name}}</td>
                    <td>{{i.product_id.stock}}</td>
                    <td>{{i.coustomer_id.coustomer_name}}</td>
                    <td>{{i.coustomer_id.adress}}</td>
                    <td>{{i.order_date}}</td>
                    <td>{{i.oder_quandity}}</td>
                    <td>{{i.delivery_adress}}</td>
                    <td>{{i.total_amount}}</td>
                    <td><button type="submit" value="ok" class="btn1" onclick="location.href='/acceptorder/{{i.order_id}}'">Accept Order</button></td> 
                    <td><button type="submit" value="ok" class="btn1" onclick="location.href='/rejectorder/{{i.order_id}}'">Reject Order</button></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>